.header__lang-link {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    width: 30px;
}

@media screen and (max-width: 540px){
    .header__lang-link {
        font-size: 18px;
        width: 22px;
    }
}