.page { 
    margin: 0 auto;
    padding: 28px;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Inter';
    background-color: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }