.main {
    display: grid;
    row-gap: 92px;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 960px){
    .main {
        row-gap: 88px;
    }
}

@media screen and (max-width: 540px){
    .main {
        row-gap: 64px;
    }
}