.header__logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 176px;
    height: 52px;
    background-image: url(../../../images/logo.png);
}

@media screen and (max-width: 540px){
    .header__logo {
        width: 142px;
        height: 42px;
    }
}