.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 28px 48px 0 48px;
}

@media screen and (max-width: 960px){
    .header {
        margin: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 540px){
    .header {
        margin: 16px 16px 0 16px;
        min-width: 288px;
    }
}       