.place__paragraph {
    margin: 0 0 27px 0;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 996px){
    .place__paragraph {
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 25px;
        max-width: 450px;
    }
}

@media screen and (max-width: 882px){
    .place__paragraph {
        width: 352px;
    }
}

@media screen and (max-width: 767px){
    .place__paragraph {
        max-width: 484px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 516px){
    .place__paragraph {
        width: 400px;
    }
}

@media screen and (max-width: 416px){
    .place__paragraph {
        width: 288px;
    }
}