.lead__image {
    width: 100%;
    margin: 64px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 1120px){
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 960px){
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 540px){
    .lead__image {
        margin-top: 40px;
    }
}   
