.lead__subtitle {
    width: 640px;
    align-self: center;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 681px){
    .lead__subtitle {
        width:  388px;
        font-size: 22px;
        line-height: 26px;
    }
} 

@media screen and (max-width: 540px){
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}  